.typeButtons {
    display: flex;
    justify-content: space-between;
}

.typeButton {
    width: calc(50% - .5rem);
    padding: 0.875rem;
    cursor: pointer;
    border: none;
    border-radius: .5rem;
    font-size: .75rem;
    font-weight: bold;
    transition: all .2s;
}

.typeButton:focus {
    outline: 0;
}

.typeButton_active {
    background: linear-gradient(to top, var(--blue-dark), var(--blue));
    color: var(--white);
}

.amountInput {
    border: none;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0.875rem;
}

.amountInput:focus {
    outline: 0;
}
