.typeButtons {
    display: flex;
    justify-content: space-between;
    margin: 0 -1em;
    margin-bottom: 0.875rem;
    background: var(--grey-light);
}

.typeButton {
    background: none;
    width: 50%;
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    border-radius: .5rem;
    font-size: .75rem;
    transition: all .2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.typeButton:focus {
    outline: 0;
}

.typeButton_active {
    font-weight: bold;
}

.icon {
    width: 32px;
    height: 32px;
    margin-bottom: .25rem;
}

.amountInput {
    border: none;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0.875rem;
    width: 100%;
}

.amountInput:focus {
    outline: 0;
}

.input {
    border: none;
    border-bottom: solid 2px var(--black-light);
    background: transparent;
    padding: .375rem .25rem;
    width: 100%;
    font-size: 1rem;
    transition: all .2s;
    margin-bottom: 0.875rem;
}

.input:focus {
    outline: 0;
    border-bottom-color: var(--black);
}
